<div class="container">
    <div class="row">
        <div class="col-lg-6">
          <h3>Teacher Record</h3>
        </div>
        <div class="col-lg-6">
          <div class="d-flex flex-row-reverse">
            <button mat-raised-button color="primary" (click)="open()">Created</button>
          </div>
        </div>
        <div class="col-12-lg">
         <table>
          <thead>
            <th>Value</th>
            <th>ViewValue</th>
          </thead>
          <tbody *ngFor="let vale of dataSource">
            <td>{{vale.value}}</td>
            <td>{{vale.viewValue}}</td>
          </tbody>
         </table>
        <app-student-list [myinputMsg]="myInputMessage"></app-student-list>
        </div>
    </div>
</div>