<div class="container">
    <div class="row">
        <div class="col-lg-6">
          <h3>Class Record</h3>
        </div>
        <div class="col-lg-6">
          <div class="d-flex flex-row-reverse">
            <button mat-raised-button color="primary" (click)="open()">Created</button>
          </div>
        </div>
        <div class="col-12-lg">
         <table>
          <thead>
            <tr>
            <th>Value</th>
            <th>ViewValue</th>
            <th>record</th>
            </tr>
          </thead>
          <tbody>
            <ng-container  *ngFor="let vale of dataSource">
              <tr>
                <td>{{vale.value}}</td>
                <td>{{vale.viewValue}}</td>
              </tr>
              <tr>
                <td><app-student-list [myinputMsg]="vale.id"></app-student-list></td>
              </tr>
            </ng-container>
            <tr>
            </tr>
          </tbody>
         </table>
        
        </div>
    </div>
</div>