<nav class="navbar navbar-expand-lg navbar-white bg-light navbar-inverse navbar-right">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-target="#mynavbar" aria-controls="mynavbar" aria-expanded="false" aria-label="Toggle navigation"></button>
        <div class="collapse navbar-collapse " id="mynavbar">
            <ul class="nav navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a href="/student/list" class="nav-link">Student</a>
                </li>
                <li class="nav-item ">
                    <a href="/teacher/list" class="nav-link">Teacher</a>
                </li>
                <li class="nav-item ">
                    <a href="/class/list" class="nav-link">class</a>
                </li>
                <li>
                    <button mat-button [matMenuTriggerFor]="menu">Droupdown</button>
                    <mat-menu #menu="matMenu">
                    <button mat-menu-item [routerLink]="['/student/list']">Student</button>
                    <button mat-menu-item [routerLink]="['/teacher/list']">Teacher</button>
                    <button mat-menu-item [routerLink]="['/class/list']">Class</button>
                    </mat-menu>
                </li>
            </ul>
            <div class=" my-2 my-lg-0">
                <button mat-raised-button color="warn" class=" my-2 my-sm-0" [routerLink]="['/login']" type="submit" (click)="logout()">logout</button>
            </div>
            <div class="my-2 my-lg-0 mx-2">
                <h3 class=" my-2 my-sm-0">Login:{{loginName.id}} <br> Phone:{{loginName.phone}}</h3>
            </div>
        </div>
    </div>
</nav>
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</body>
