<div class="container">
    <div class="row">
      <div class="col-12-lg ">
        <div class="my-5">
          <div class="text-center">
            <div class="py-5" >
              <h2 class="text-dark">Student Details</h2>
             <form [formGroup]="teacher" (ngSubmit)="onSaved()">
              <mat-form-field>
                <mat-label>First Name</mat-label>
                 <input type="text"  matInput placeholder="First Name" formControlName="firstname" name="firstname">
            </mat-form-field>
            <p class="alert alert-danger" *ngIf="condition && teacher.get('firstname')?.hasError('required')">
              fill they form required
          </p>
            <br>
            <mat-form-field>
            <mat-label>Last Name</mat-label>
            <input type="text"  matInput placeholder="Last Name" formControlName="lastname" name="lastname" >
            </mat-form-field>
            <p class="alert alert-danger" *ngIf="condition && teacher.get('lastname')?.hasError('required')">
              fill they form required
          </p>
           <br>
            <mat-label>Gender</mat-label>
            <br>
              <mat-radio-group aria-label="Select an option" formControlName="gender" name="gender">
              <mat-radio-button  *ngFor="let gen of genders"  [value]="gen">{{gen}}</mat-radio-button>
              </mat-radio-group>
              <br>
             <mat-form-field>
                <mat-label>Class</mat-label>
                  <input type="text"  matInput placeholder="Class" formControlName="class" name="class" >
             </mat-form-field>

             <p class="alert alert-danger" *ngIf="condition && teacher.get('class')?.hasError('required')">
                fill they form required
            </p>
             <br>
            <button mat-raised-button color="primary" type="submit" *ngIf="val1">saved</button>
            <button mat-raised-button color="warn" (click)="editSaved()" *ngIf="val2">Update</button>
             </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
