<div class="container">
    <div class="row">
      <div class="col-12-lg ">
        <div class="my-5">
          <div class="text-center">
            <div class="py-5" >
              <h2 class="text-dark">Class Details Add</h2>
             <form [formGroup]="classadd" (ngSubmit)="onSaved()">
              <mat-form-field>
                <mat-label>First Name</mat-label>
                 <input type="text"  matInput placeholder="Class Value" formControlName="value" name="value">
            </mat-form-field>
            <p class="alert alert-danger" *ngIf="condition && classadd.get('value')?.hasError('required')">
              fill they form required
          </p>
            <button mat-raised-button color="primary" type="submit">ADD Class</button>
             </form>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
