<form [formGroup]="classadd" (ngSubmit)="onSaved()">
  <div mat-dialog-title>
    <h1 > Class ADD</h1>
   </div>
  <div mat-dialog-content>
  <mat-form-field>
    <mat-label>First Name</mat-label>
     <input type="text"  matInput placeholder="Class Value" formControlName="value" name="value">
</mat-form-field>
<p class="alert alert-danger" *ngIf="condition && classadd.get('value')?.hasError('required')">
  fill they form required
</p>
</div>
<div mat-dialog-action>
  <button mat-raised-button mat-dialog-close color="primary" type="submit">ADD Class</button>
</div>
 </form>